<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


    <servlet>
        <display-name>ServiceProviderServlet</display-name>
        <servlet-name>ServiceProviderServlet</servlet-name>
        <servlet-class>com.service.microservice.ServiceProviderServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>ServiceProviderServlet</servlet-name>
        <url-pattern>/api/service</url-pattern>
    </servlet-mapping>

</web-app>
